node_modules/
.env
.DS_Store
www/
ios/App/Pods/
ios/App/App/public/
ios/App/build/
ios/DerivedData/
**/xcuserdata/
**/*.xcuserstate
build/
ExportOptions.plist
pazarlama/
pazarlama-v2/
magaza/
corpus.json
diller/
magaza-gorseller/

# Android
android/local.properties
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/
